{
  "pradeep": {
    "githubToken": "ghp_xxxxxxxxxxxxxxxxxxxx",
    "jiraToken": "ATATT3xFfGF0xxxxxxxxxxxx"
  },
  "kharthik": {
    "githubToken": "ghp_xxxxxxxxxxxxxxxxxxxx",
    "jiraToken": "ATATT3xFfGF0xxxxxxxxxxxx"
  }
}
